*.pyc
*.swp
*.so
*.pickle
build
dist
pip-log.txt
.achievements
.coverage
.bzr
.bzrignore
Divisi2.egg-info/
doc/_static/jsMath/
_build
.DS_Store
*.tar.gz
AnalogySpace/
*Study
Densu/
PandG/
DMGSkeleton/
env/
tango-icon-theme*
*.profile
*~
